.songui {
    display: flex;
}

.controls {
    margin-left: 2em;
}

.controls > label {
    display: block;
    margin-top: 1em;
}

button {
    display: block;
    border: 10px solid fuchsia;
    font-size: 3em;
    text-transform: uppercase;
    color: limegreen;
}
